# Ignore node_modules folder
node_modules/

# Ignore specific files
*.log
*.env

# Ignore macOS system files
.DS_Store

# Ignore Windows system files
Thumbs.db

# Ignore build artifacts
*.tsbuildinfo
